In [32]:
import pandas as pd
from sklearn import metrics
from sklearn.cross_validation import train_test_split
import sys; sys.path.append('/Users/Yoshida/github/recommend_system_tutorial')
import grouplens

In [41]:
# import data
ratings = pd.read_csv('./import_data/rating_data_part_ver2.csv', index_col=0)
ratings.head()

   user_id  movie_id  rating
0       48      2987       3
1       48       648       3
2       48      3793       3
3       48      2054       2
4       48      1259       3

In [40]:
# train-test-split (hold-out-validation)
X = ratings[['user_id', 'movie_id']]
y = ratings.rating

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=2)
X_train.head()

       user_id  movie_id
47955     4715      2804
25826     2205      1674
20409     1837      3421
1689       202      1090
44898     4354      1527

In [27]:
# train
gl = grouplens.GroupLens()
gl.fit(X=X_train, y=y_train)

# test(prediction)
prediction = gl.predict(X_test)

# evaluation
result_gl = pd.concat([prediction, y_test.reset_index(drop=True)], axis=1)
mse_gl = metrics.mean_squared_error(result_gl.prediction, result_gl.rating)
print('MSE: ', mse_gl)
result_gl

MSE:  0.7142676010731889

       user_id  movie_id  prediction  rating
0       1125.0     858.0    4.453919       4
1        721.0    1270.0    4.213286       5
2       1449.0     608.0    3.942371       5
3       4277.0     364.0    4.534408       4
4       2109.0    1584.0    3.280422       3
5        438.0    2657.0    3.440243       5
6        855.0    1028.0    3.708302       4
7       5636.0    1584.0    3.074523       2
8       2116.0    3527.0    3.910240       4
9       2638.0     595.0    3.676722       4
10       192.0     110.0    3.984454       5
11      1194.0    1674.0    3.601531       4
12      2116.0      32.0    4.239467       5
13      4510.0     595.0    3.477115       3
14      5795.0    1391.0    3.150539       1
15      5387.0    3481.0    4.059098       4
16      1675.0      32.0    4.034975       5
17      1465.0    1240.0    4.249194       4
18      5367.0     597.0    2.982489       3
19      5493.0    3253.0    3.607840       3
20      2092.0    3255.0    3.489278       4
21      3841.0    1377.0    2.831615       2
22      5026.0    3147.0    3.687214       4
23       192.0     260.0    4.278047       4
24      1980.0    1396.0    3.756776       4
25      1632.0    1682.0    3.227944       3
26      3471.0     296.0    4.447855       5
27      2907.0    2012.0    3.752316       5
28      5878.0    1240.0    3.886999       3
29      5493.0     377.0    3.433863       4
...        ...       ...         ...     ...
14693   1059.0    3448.0    3.069543       3
14694    970.0    2571.0    4.049088       5
14695    710.0    3793.0    3.843739       4
14696   4543.0    3418.0    3.818852       3
14697   2507.0    3751.0    4.056472       3
14698   1889.0    1252.0    3.867641       4
14699   1112.0    1580.0    4.041872       2
14700   5359.0    2797.0    4.063122       5
14701   5317.0    1968.0    4.311319       5
14702   1501.0    2028.0    4.316408       5
14703   3320.0    1270.0    4.075329       5
14704   1645.0    1240.0    4.168198       2
14705   4411.0    2321.0    3.977648       4
14706   5256.0    2174.0    3.738218       3
14707   4867.0     364.0    3.945972       4
14708   4058.0    3578.0    3.934914       5
14709   2105.0    2858.0    4.276993       5
14710   4658.0     588.0    3.341923       3
14711   5747.0    2987.0    3.881056       4
14712   5501.0    3255.0    3.652378       3
14713   5614.0    2396.0    4.398779       5
14714    802.0     780.0    3.689206       3
14715   2012.0    1584.0    3.249139       4
14716   2537.0    1214.0    4.198670       4
14717   3054.0    1221.0    4.362716       5
14718   4169.0     912.0    4.675961       5
14719   2793.0    1291.0    4.451219       4
14720    678.0     924.0    3.944471       3
14721   4425.0    1676.0    3.082863       3
14722   5220.0    1242.0    3.977181       3

[14723 rows x 4 columns]